.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #D58C51;
    padding: 40px 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.card:hover {
    color: #D58C51;
}

.card__preview-img {
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.card__title {
    margin-bottom: 20px;
}

.card__footer {
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.card__footer-price {
    display: block;
    position: absolute;
}

.card__button {
    border-radius: 50%;
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    width: 32px;
    height: 32px;
}

.card__button:hover {
    border-color: #D58C51;
    background-color: #D58C51;
}

.card__buttonClose {
    border-radius: 50%;
    outline: none;
    border: 1px solid #D58C51;
    background-color: transparent;
    color: #D58C51;
    font-size: 16px;
    width: 32px;
    height: 32px;
}

.card__buttonClose:hover {
    border-color: orangered;
    color: white;
    background-color: orangered;
}

.basketCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    color: white;
    margin-bottom: 10px;
}

.basketCard:hover {
    color: #D58C51;
}

.basketCard__preview {
    display: flex;
    align-items: center;
}

.basketCard__preview-title {
    margin-left: 100px;
}

.basketCard__preview-img {
    width: 150px;
}

.basketCard__choice {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #D58C51;
}

.basketCard__choice-price {
    margin-right: 20px;
}

.basketCard__choice-btn {
    border-radius: 50%;
    padding: 5px 10px;
    color: #D58C51;
    font-size: 18px;
    border: 2px solid #D58C51;
    background-color: transparent;
}

.depictionCard__preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.depictionCard__preview-right {
    color: white;
    margin-left: 200px;
}

.depictionCard__preview-right__title {
    font-size: 32px;
    color: #D58C51;
    margin-bottom: 40px;
}

.depictionCard__preview-right__description {
    font-size: 16px;
    margin-bottom: 80px;
}

.depictionCard__preview-right__footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
}

.button {
    margin-left: 100px;
    width: 200px;
    height: 42px;
    background-color: #D58C51;
    color: #131313;
    font-size: 14px;
    border: 2px solid #D58C51;
}

.button:hover {
    background-color: orangered;
    color: white;
    border: 2px solid orangered;
}

.basketCard-empty {
    color: white; 
    font-size: 24px;
    text-align: center; 
  }